# deploy workflows
name: Deploy FastAPI Backend to EC2

on:
  push:
    branches:
      - dev-backend
    paths:
      - 'backend/**'
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/swpp-2025-project-team-04/backend
            git pull origin dev-backend

            echo "Stopping and removing existing container..."
            docker stop backend || true
            docker rm backend || true

            echo "Cleaning up old images..."
            docker image prune -f || true
            docker image prune -a -f || true

            echo "Building new backend image..."
            docker build -t backend-image .

            echo "Running new backend container..."
            docker run -d --name backend -p 3000:3000 backend-image